@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap');

body {
    font-family: 'Garamond', 'EB Garamond', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333333;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
    color: #001D64;
    padding-bottom: 5px;
}

.english-name {
    color: #0031A7; /* dark blue color for English name */
}
.chinese-name {
    color: #44b8f3; /* light blue color for Chinese name */
}

h2 {
    font-size: 1.2em;
    color: #2D2D2D;
}

p {
    /* color: #000000; */
    margin-bottom: 3px;
    text-align: justify;
}

.email {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

footer {
    margin-top: 30px;
    padding-top: 0px;
    background-color: #FAFAFA;
    font-size: 0.85em;
}

.license-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.license-section h2 {
    /* font-size: 1.1em; */
    color: #001D64;
    /* margin-bottom: 15px; */
}

.license-section p {
    /* margin-bottom: 8px; */
    line-height: 1.4;
}

.copyright {
    /* margin-top: 5px; */
    /* font-size: 0.85em; */
    color: #6AC9C8;
    font-style: italic;
}

footer a {
    color: #2980b9;
    text-decoration: underline;
}

footer a:hover {
    color: #1a5280;
}